.purple {
  background-color: #651fff;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e7ddff;
}

#projects {
  background-color: #e7ddff;
}

section {
  padding-top: 5rem;
}

a {
  text-decoration: none;
}
